.chart rect {
   stroke: white;
   fill: steelblue;
}

.chart text {
   font: 10px sans-serif;
   fill: black;
}

.chart .dataset-1 {
    fill: red;
}

.chart .dataset-2 {
    fill: blue;
}

.chart .dataset-3 {
    fill: green;
}

.chart .dataset-4 {
    fill: black;
}

.chart .dataset-5 {
    fill: purple;
}

.chart .dataset-6 {
    fill: orange;
}

.chart .dataset-7 {
    fill: grey;
}

.chart circle {
    opacity: 0.1;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.x.axis line, .x.axis path {
  fill: none;
  stroke: #000;
}

.dragtarget-hover {
  background-color: blue;
  color: white;
}